$grid-gutter-width: 10px;

@import '../bower_components/bootstrap-sass/assets/stylesheets/bootstrap';

@charset 'utf-8';
/*
 * General typography and color pallet
 */
body{
  font-family: 'Open Sans', helvetica, sans-serif;
}

.wrapper{
  background-image: url('../skateboard-images/bg.jpg');
  background-size: cover;
}

// .container{
//   margin-bottom: 95px;
// }

.subscribe{
  color: white;
  display: inline-block;
  text-align: right;
  padding-right: 95px;
  border-right: 3px dotted #FFF;
  line-height: 2;
}
.social-media{
  padding-left: 11px;
}
.social-nav{
  text-align: right;
  vertical-align: middle;
  margin-bottom: 15px;
  i {
    padding: 15px;
    color: white;
    font-size: 30px;
    opacity: 20%;
    color: rgba(#FFF, 0.3);
    }

  a{
    color: #FFF;
    cursor: pointer;
  }

  .fa-facebook {
    background-color: #465299;
  }
  .fa-rss{
    background-color: #D38E1C;
  }
  .fa-twitter{
    background-color: #6889C9;
  }
  .fa-youtube{
    background-color: #BF151C;
  }
}

.menu{
  font-size: 14px;
  color: white;
  background-color: #C1001D;
  text-align: center;
  padding: 14px;
  margin-bottom: 10px;
}

a{
  text-decoration: none;
  color: #FFF;
}

.header{
  background-image: url('../skateboard-images/top-image.png');
  border: 6px solid #FFF;
  margin-bottom: 22px;
  height: 336px;
  background-position: -100px -151px;
  overflow: hidden;
  @media (max-width: 768px){
    height: 336px;
  }
}

.overlay{
  background-image: url('../skateboard-images/grid.png');
  height: 330px;
  width: 100%;
  opacity: 0.4;
  position: absolute;
  overflow: hidden;
}

.logo{
  position: relative;
  top: 48px;
  left: 22px;
  z-index: 10;
  img{
    width: 411px;
    }
}
.radio-buttons{
  text-align: center;
  margin-bottom: 22px;
  input{
    margin: 5px;
  }
}

.box{
  background-color: #FDFDFD;
  min-height: 350px;
  margin-bottom: 35px;
  padding: 14px 28px;
  position: relative;
  .date{
    color: #B4B4B4;
    margin: 23px 0;
  }
  h1{
    font-size: 26px;
    color: #31342D;
  }
  p {
    font-size: 12px;
    color: #31342D;
    text-align: justify;
  }
}

.read{
  a {
    color: #BB0017;
    font-weight: 800;
  }
  position: absolute;
  top: 320px;
  left: 135px;
}

.lance{
  background-image: url('../skateboard-images/sk8er-4.png');
  @media (min-width: 992px){
    background-position: -80px -12px;
  }
  height: 221px;
}

.rodney{
  background-image: url('../skateboard-images/sk8er-3.png');
  background-position: 1px 1px;
  height: 221px;
}

.steve{
  height: 238px;
  background-image: url('../skateboard-images/sk8er-1.png');
  overflow: hidden;
  background-position: 1px -118px;
  background-size: 850px;
}

.tommy {
  background-image: url('../skateboard-images/sk8er-2.png');
  overflow: hidden;
  height: 221px;
  @media (min-width: 992px){
  background-position: 472px 1px;
  height: 469px;
  }
}

.skaters {
  border: 6px solid #FFF;
  margin-bottom: 10px;
  @media (max-width: 991px){
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
  }
}

.sk8name {
  font-family: 'Open Sans';
  font-weight: 800;
  font-size: 55px;
  color: #FFF;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  line-height: 1;
  margin-top: 30px;
}

.boards{
  background-color: white;
  text-align: center;
  margin-bottom: 34px;
  img {
    margin: 20px;
  }
}

.contact-box{
  height: 360px;
  background-color: white;
  margin-top: 20px;
}

.contact-text{
  margin: 30px;
}

.social-bottom{
  margin-top: 20px;
  a {
    padding: 5px;
    color: white;
    font-size: 15px;
    background-color: #7B7B7B;
    cursor: pointer;
  }
}

.contact-input{
  margin: 30px;
  button{
    background-color: red;
    text-align: center;
    width: 250px;
    color: #FFF;
    margin-top: 28px;
  }
}
